<li>
    <img src="images/{{image}}" alt={{name}}>
    <h3>{{name}}</h3>
    <p><span>Breed: </span>{{breed}}</p>
    <p><span>Description: </span>{{description}}</p>
    <p><span>Price: </span>{{price}}</p>
    <ul class="buttons">
        <li class="btn edit"><a href="/{{id}}/edit">Change Info</a></li>
        <li class="btn delete"><a href="">New Home</a></li>
    </ul>
</li>
